{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Azure Application Insights client for work item configurations for a component.",
        "title": "ApplicationInsightsManagementClient",
        "version": "2015-05-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentWorkItemConfigs_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "applicationinsights-componentWorkItemConfigs_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/DefaultWorkItemConfig": {
            "get": {
                "description": "Gets default work item configurations that exist for the application",
                "operationId": "WorkItemConfigurations_GetDefault",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Work item configuration associated with an application insights resource.",
                                    "properties": {
                                        "ConfigDisplayName": {
                                            "description": "Configuration friendly name",
                                            "type": "string"
                                        },
                                        "ConfigProperties": {
                                            "description": "Serialized JSON object for detailed properties",
                                            "type": "string"
                                        },
                                        "ConnectorId": {
                                            "description": "Connector identifier where work item is created",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "Unique Id for work item",
                                            "type": "string"
                                        },
                                        "IsDefault": {
                                            "description": "Boolean value indicating whether configuration is default",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "WorkItemConfigurationsGetDefault": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "ConfigDisplayName": "Visual Studio Team Services",
                                    "ConfigProperties": "{\"VSOAccountBaseUrl\":\"https://testtodelete.visualstudio.com\",\"ProjectCollection\":\"DefaultCollection\",\"Project\":\"todeletefirst\",\"ResourceId\":\"d0662b05-439a-4a1b-840b-33a7f8b42ebf\",\"ConfigurationType\":\"Standard\",\"WorkItemType\":\"Bug\",\"AreaPath\":\"todeletefirst\",\"AssignedTo\":\"\"}",
                                    "ConnectorId": "d334e2a4-6733-488e-8645-a9fdc1694f41",
                                    "Id": "Visual Studio Team Services",
                                    "IsDefault": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs": {
            "get": {
                "description": "Gets the list work item configurations that exist for the application",
                "operationId": "WorkItemConfigurations_List",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Work item configuration list result.",
                                    "properties": {
                                        "value": {
                                            "description": "An array of work item configurations.",
                                            "items": {
                                                "description": "Work item configuration associated with an application insights resource.",
                                                "properties": {
                                                    "ConfigDisplayName": {
                                                        "description": "Configuration friendly name",
                                                        "type": "string"
                                                    },
                                                    "ConfigProperties": {
                                                        "description": "Serialized JSON object for detailed properties",
                                                        "type": "string"
                                                    },
                                                    "ConnectorId": {
                                                        "description": "Connector identifier where work item is created",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "Unique Id for work item",
                                                        "type": "string"
                                                    },
                                                    "IsDefault": {
                                                        "description": "Boolean value indicating whether configuration is default",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error associated with trying to get work item configuration or configurations",
                                    "properties": {
                                        "code": {
                                            "description": "Error detail code and explanation",
                                            "type": "string"
                                        },
                                        "innererror": {
                                            "description": "Inner error",
                                            "properties": {
                                                "diagnosticcontext": {
                                                    "description": "Provides correlation for request",
                                                    "type": "string"
                                                },
                                                "time": {
                                                    "description": "Request time",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "description": "Error message",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "WorkItemConfigurationsList": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": [
                                    {
                                        "ConfigDisplayName": "Visual Studio Team Services",
                                        "ConfigProperties": "{\"VSOAccountBaseUrl\":\"https://testtodelete.visualstudio.com\",\"ProjectCollection\":\"DefaultCollection\",\"Project\":\"todeletefirst\",\"ResourceId\":\"b370eeb2-5dff-4838-8253-ec3014b2c706\",\"ConfigurationType\":\"Standard\",\"WorkItemType\":\"Bug\",\"AreaPath\":\"todeletefirst\",\"AssignedTo\":\"\"}",
                                        "ConnectorId": "d334e2a4-6733-488e-8645-a9fdc1694f41",
                                        "Id": "Visual Studio Team Services",
                                        "IsDefault": true
                                    },
                                    {
                                        "ConfigDisplayName": "GitHub",
                                        "ConfigProperties": "{\"GitHubAccountUrl\":\"https://github.com/jpiyali/testrepository\",\"ResourceId\":\"b370eeb2-5dff-4838-8253-ec3014b2c706\"}",
                                        "ConnectorId": "4C89E219-D47E-4C14-866A-018D6D634CF3",
                                        "Id": "GitHub",
                                        "IsDefault": false
                                    }
                                ]
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            },
            "post": {
                "description": "Create a work item configuration for an Application Insights component.",
                "operationId": "WorkItemConfigurations_Create",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An object containing the work item configuration definition created by this PUT call.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Work item configuration associated with an application insights resource.",
                                    "properties": {
                                        "ConfigDisplayName": {
                                            "description": "Configuration friendly name",
                                            "type": "string"
                                        },
                                        "ConfigProperties": {
                                            "description": "Serialized JSON object for detailed properties",
                                            "type": "string"
                                        },
                                        "ConnectorId": {
                                            "description": "Connector identifier where work item is created",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "Unique Id for work item",
                                            "type": "string"
                                        },
                                        "IsDefault": {
                                            "description": "Boolean value indicating whether configuration is default",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "WorkItemConfigurationsCreate": {
                        "parameters": {
                            "WorkItemConfigurationProperties": {
                                "ConnectorDataConfiguration": {
                                    "Custom": "{\"/fields/System.WorkItemType\":\"Bug\",\"/fields/System.AreaPath\":\"todeletefirst\",\"/fields/System.AssignedTo\":\"\"}",
                                    "Project": "todeletefirst",
                                    "ProjectCollection": "DefaultCollection",
                                    "ResourceId": "d0662b05-439a-4a1b-840b-33a7f8b42ebf",
                                    "VSOAccountBaseUrl": "https://testtodelete.visualstudio.com"
                                },
                                "ConnectorId": "d334e2a4-6733-488e-8645-a9fdc1694f41",
                                "ValidateOnly": "true",
                                "WorkItemProperties": [
                                    {
                                        "name": "Title",
                                        "value": "Validate Only Title"
                                    },
                                    {
                                        "name": "Description",
                                        "value": "Validate Only Description"
                                    }
                                ]
                            },
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Work item configuration creation payload",
                                "properties": {
                                    "ConnectorDataConfiguration": {
                                        "description": "Serialized JSON object for detailed properties",
                                        "type": "string"
                                    },
                                    "ConnectorId": {
                                        "description": "Unique connector id",
                                        "type": "string"
                                    },
                                    "ValidateOnly": {
                                        "description": "Boolean indicating validate only",
                                        "type": "boolean"
                                    },
                                    "WorkItemProperties": {
                                        "description": "Custom work item properties",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Properties that need to be specified to create a work item configuration of a Application Insights component.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs/{workItemConfigId}": {
            "delete": {
                "description": "Delete a work item configuration of an Application Insights component.",
                "operationId": "WorkItemConfigurations_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
                        "in": "path",
                        "name": "workItemConfigId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The work item configuration that was successfully deleted.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "WorkItemConfigurationDelete": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid",
                            "workItemConfigId": "Visual Studio Team Services"
                        },
                        "responses": {
                            "200": {
                                "body": {}
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "InnerError": {
                "description": "Inner error",
                "properties": {
                    "diagnosticcontext": {
                        "description": "Provides correlation for request",
                        "type": "string"
                    },
                    "time": {
                        "description": "Request time",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WorkItemConfiguration": {
                "description": "Work item configuration associated with an application insights resource.",
                "properties": {
                    "ConfigDisplayName": {
                        "description": "Configuration friendly name",
                        "type": "string"
                    },
                    "ConfigProperties": {
                        "description": "Serialized JSON object for detailed properties",
                        "type": "string"
                    },
                    "ConnectorId": {
                        "description": "Connector identifier where work item is created",
                        "type": "string"
                    },
                    "Id": {
                        "description": "Unique Id for work item",
                        "type": "string"
                    },
                    "IsDefault": {
                        "description": "Boolean value indicating whether configuration is default",
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "WorkItemConfigurationError": {
                "description": "Error associated with trying to get work item configuration or configurations",
                "properties": {
                    "code": {
                        "description": "Error detail code and explanation",
                        "type": "string"
                    },
                    "innererror": {
                        "description": "Inner error",
                        "properties": {
                            "diagnosticcontext": {
                                "description": "Provides correlation for request",
                                "type": "string"
                            },
                            "time": {
                                "description": "Request time",
                                "format": "date-time",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "message": {
                        "description": "Error message",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WorkItemConfigurationsListResult": {
                "description": "Work item configuration list result.",
                "properties": {
                    "value": {
                        "description": "An array of work item configurations.",
                        "items": {
                            "description": "Work item configuration associated with an application insights resource.",
                            "properties": {
                                "ConfigDisplayName": {
                                    "description": "Configuration friendly name",
                                    "type": "string"
                                },
                                "ConfigProperties": {
                                    "description": "Serialized JSON object for detailed properties",
                                    "type": "string"
                                },
                                "ConnectorId": {
                                    "description": "Connector identifier where work item is created",
                                    "type": "string"
                                },
                                "Id": {
                                    "description": "Unique Id for work item",
                                    "type": "string"
                                },
                                "IsDefault": {
                                    "description": "Boolean value indicating whether configuration is default",
                                    "type": "boolean"
                                }
                            },
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "WorkItemCreateConfiguration": {
                "description": "Work item configuration creation payload",
                "properties": {
                    "ConnectorDataConfiguration": {
                        "description": "Serialized JSON object for detailed properties",
                        "type": "string"
                    },
                    "ConnectorId": {
                        "description": "Unique connector id",
                        "type": "string"
                    },
                    "ValidateOnly": {
                        "description": "Boolean indicating validate only",
                        "type": "boolean"
                    },
                    "WorkItemProperties": {
                        "description": "Custom work item properties",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "ResourceGroupNameParameter": {
                "description": "The name of the resource group.",
                "in": "path",
                "name": "resourceGroupName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceNameParameter": {
                "description": "The name of the Application Insights component resource.",
                "in": "path",
                "name": "resourceName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The Azure subscription ID.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "WorkItemConfigIdParameter": {
                "description": "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
                "in": "path",
                "name": "workItemConfigId",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}